/*Estilos generales*/

body {
    margin: auto;
    font-family: "Jura", sans-serif;
}

.container {
    height: 100vh;
}

a {
    text-decoration: none;
}

/*Navbar*/

.nav-wrapper {
    background-color: #41436a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vh;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper {
        flex-direction: column;
    }
    .right-side {
        display: flex;
        flex-direction: column;
    }
}

.right-side {
    display: flex;
}

.nav-wrapper>.right-side>div {
    margin-right: 24px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.brand {
    font-size: 3vh;
    color: #F64668;
}

.nav-link-wrapper a {
    color: #984063;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #fe9677;
}

.nav-link-wrapper a:hover {
    color: #fe9677;
}

.active-nav-link {
    border-bottom: 1px solid #F64668;
}

.active-nav-link a {
    color: #F64668;
}

/*Portfolio*/

.portfolio-item-wrapper {
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
}

.portfolio-img-bg {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(40%) blur(3px);
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.img-text-wrapper .title {
    transition: 1s;
    font-weight: bolder;
    color: transparent;
}

.img-text-wrapper:hover .title {
    font-size: 5vh;
    margin-bottom: 3vh;
    font-weight: bolder;
    color: #fe9677;
}

.img-text-wrapper .subtitle {
    transition: 0.25s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-size: 3vh;
    font-weight: 600;
    color: #a4a6ad;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%) blur(1px) grayscale(20%);
}

/*About page*/

.transition-fade {
    opacity: 1;
    transition: 0.5s;
}

.profile-img-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    width: auto;
    text-align: justify;
    justify-content: right;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Footer*/

.footer {
    padding: 7vh;
    text-align: center;
    justify-content: center;
    background-color: #41436a;
    transition: color 0.5s;
    width: 100%;
    margin: auto;
}

.footer i {
    padding: 1vw;
}

.footer footer {
    color: #F64668;
}

.footer a:hover {
    border-bottom: 1px solid #fe9677;
    color: #fe9677;
}

.footer a {
    color: #F64668;
}